/**
  TABLE OF CONTENT
  ================
  1. Style imports
  2.
  3.
*/


/* 1. Style imports */
@import '~antd/dist/antd.css';
@import './styles/login.css';
@import './styles/card.css';
@import './styles/header.css';



body {
  background-color: #FFF;
}

.App {
  text-align: center;
}

.container {
  text-align: center;
  padding-top: 1;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

.box {
  margin: 5;
  padding: 2%;
  border-left: none;
  border-right: none;
  border-top: 1px rgb(0, 0, 0, 0.3) solid;
  border-bottom: 1px rgb(0, 0, 0, 0.3) solid;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(80, 125, 188, 0.6);
  color: white;
  text-align: center;
}

img {
  max-width: 50%;
  height: auto;
}

label {
  float: left;
  display: block;
  width: 350px;
}

label:after { 
  content: ": " 
}

.input-style {
  color: rgba(0,0,0,.25);
  max-width: 300px;
  text-align: center;

}

.icon-style{
  color: rgba(0, 0, 0, 0.39);
}

.lt{
  padding: 1em;
}

.input-btn {
  max-width: 350px;
}

.half-left {
  background-color: blue;
  color: #FFF;

}