@import '~antd/dist/antd.css';
@import './styles/login.css';
@import './styles/card.css';


body {
margin: 0;
padding: 0;
font-family: sans-serif;
background-color: #FFF;
}

container {
text-align: center;
}

li {
display: inline;
}