.cst {
    background-color: rgb(255, 255, 255);
    padding: 10;
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.cd {
    font-size: 13px;
    color: #000;
    height: 50px;
}

.lt {
    font-size: 12px;
    margin-right: 10;
}